BATCH=1

SWAPSIZE=8G
SECTOR_SIZE=512
DISK=/dev/vda
PARTITION=/dev/vda3
EFI_PARTITION=/dev/vda1

KEYFILE=/root/secrets/keyfile
#CRYPT_PASSWORD=
ROOT_ENCRYPTED_PASSWORD=

BTRFSROOT=/mnt/btrfs
ROOTMAPPER=/dev/mapper/crypt_root
ROOT=/mnt/root
MOUNTOPTS=lazytime,compress=zstd,discard=async

HOSTNAME=
TIMEZONE=
DOMAIN=
IP=
